Host github.com
  CheckHostIP no
  VerifyHostKeyDNS no
  CanonicalizeHostname no
  User git
  HostName github.com
  IdentityFile ~/.ssh/github_ed25519
  IdentitiesOnly yes
  ControlMaster no
  HostKeyAlgorithms ssh-ed25519,ecdsa-sha2-nistp256
  MACs hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com,umac-128-etm@openssh.com

Host *
  AddKeysToAgent confirm
  UseKeychain yes
  AddressFamily inet
  KexAlgorithms sntrup761x25519-sha512@openssh.com,curve25519-sha256,curve25519-sha256@libssh.org
  Ciphers chacha20-poly1305@openssh.com,aes256-gcm@openssh.com
  MACs hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com,umac-128-etm@openssh.com
  HostKeyAlgorithms sk-ssh-ed25519-cert-v01@openssh.com,ssh-ed25519-cert-v01@openssh.com,sk-ssh-ed25519@openssh.com,ssh-ed25519,rsa-sha2-512-cert-v01@openssh.com,rsa-sha2-512
  PubkeyAcceptedAlgorithms sk-ssh-ed25519-cert-v01@openssh.com,ssh-ed25519-cert-v01@openssh.com,sk-ssh-ed25519@openssh.com,ssh-ed25519,rsa-sha2-512-cert-v01@openssh.com,rsa-sha2-512
  CASignatureAlgorithms sk-ssh-ed25519@openssh.com,ssh-ed25519,rsa-sha2-512

  PubkeyAuthentication yes
  PasswordAuthentication no
  KbdInteractiveAuthentication no
  ChallengeResponseAuthentication no
  HostbasedAuthentication no
  GSSAPIAuthentication no
  GSSAPIDelegateCredentials no
  PreferredAuthentications publickey
  IdentitiesOnly yes
  NumberOfPasswordPrompts 0

  ForwardAgent no
  ForwardX11 no
  ForwardX11Trusted no
  PermitLocalCommand no
  Tunnel no
  PermitRemoteOpen none

  StrictHostKeyChecking ask
  VerifyHostKeyDNS yes
  CheckHostIP yes
  FingerprintHash sha256
  UpdateHostKeys yes

  HashKnownHosts yes
  VisualHostKey yes
  ObscureKeystrokeTiming interval:80
  EscapeChar none
  EnableEscapeCommandline no
  CanonicalizeHostname yes
  CanonicalizeFallbackLocal yes

  TCPKeepAlive no
  ServerAliveInterval 60
  ServerAliveCountMax 3
  ControlMaster auto
  ControlPath ~/.ssh/sockets/%C
  ControlPersist 60
  ConnectTimeout 30
  ChannelTimeout global=1800
  RekeyLimit 1G 1h

  Compression no
  IPQoS af21 cs1
  ExitOnForwardFailure yes
  StreamLocalBindUnlink yes
  ProxyUseFdpass no
  RequiredRSASize 4096
  SetEnv TERM=xterm-256color
  LogLevel VERBOSE
